{% extends "base.html" %}
{% load static %}
{% load bootstrap3 %}

    {% block navbar %}
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">GH Farm</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Store</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
            </ul>
            <form class="form-inline col-md-1">
                <button class="btn btn-outline-primary" type="button" data-toggle="modal" data-target="#signup">Sign Up</button>
            </form>
            <form class="form-inline col-md-1">
                <button class="btn btn-outline-success" type="button" data-toggle="modal" data-target="#login">Login</button>
            </form>
        </div>
    </nav>
    <div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Login</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
            {% endif %}
            <form action="" method="POST">
            {% csrf_token %} 
            {% bootstrap_form signupform show_help=False %}    
           <input type="submit" name="signup" value="Login"  class="btn btn-primary">
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Login</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
            {% endif %}
            <form action="" method="POST">
            {% csrf_token %} 
            {% bootstrap_form loginform show_help=False %}    
            <input type="submit" name="login" value="Login"  class="btn btn-primary">
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endblock navbar %}
    {% block sidebar %}

            <nav class="hidden-xs-down bg-faded">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Overview <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Reports</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Analytics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Export</a>
                    </li>
                </ul>
            </nav>
    {% endblock sidebar %}

    {% block content%}
    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus distinctio laboriosam temporibus, voluptatem consequuntur, officia magnam fuga labore deserunt nulla. Exercitationem vel mollitia, deserunt accusantium enim aperiam nam harum alias!
    </p>
    {% endblock content%}