{% extends "index.html" %}
{% load static %}

{% block content%}
<div class="jumbotron jumbotron-fluid">
    <div class="container" >
    	<h1>About the Project:</h1>
		<p><strong>k-Yantra</strong> project develops know-how for setting up an automated agriculture project testbed to address ​real world problem and make all the farm produce available to the people.</p>
		<p>This entails first generating a rich growing medium (soil) through ​ recycling dry biomass (leaves) and resource recovery of garden and kitchen waste which is in sync with the municipal solid waste management agenda of both the central and state government and consistent with “Swach Bharat".</p>
		<p>The aim of our organization is to popularise organic farming in India. Food comes to us straight from the source and is delivered to your door at peak freshness in just a few days.</p>
    </div>
</div>
{% endblock content%}