{% extends "home.html" %}
{% load static %}
{% block content %}

<h2>Orders:</h2>
<hr>
{% if all_orders %}
{% for order in all_orders %}
<h3>Order on {{order.0.time}}</h3>
<table class="table table-striped table-bordered mb-3">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Crop</th>
      <th>Seller</th>
      <th>Weight</th>
      <th>Status</th>
      <th></th>
      <!-- <th>Date of Delivery</th> -->
      <!-- <th>Image</th> -->
    </tr>
  </thead>
  <tbody>
  {% for entry in order %}
    {% if entry.status == "PENDING" %}
    <tr>
    {% else %}
    {% if entry.status == "CANCELLED" %}
    <tr class="table-danger">
    {% else %}
    {% if entry.status == "REJECTED" %}
    <tr class="table-danger">
    {% else %}
    {% if entry.status == "DELIVERED" %}
    <tr class="table-success">
    {% endif %}
    {% endif %}
    {% endif %}
    {% endif %}
      <td>{{forloop.counter}}</td>
      <td>{{entry.crop_id}}</td>
      <td>{{entry.seller.first_name}}</td>
      <td>{{entry.weight}}g</td>
      <td>{{entry.status}}</td>
      {% if entry.status == "PENDING" %}
      <td><a href="{% url 'consumer_order_cancel' entry.cart_id.cart_id entry.seller.pk entry.crop_id.crop_id %}"><button class="btn btn-danger btn-sm">Cancel<span class="fa fa-trash ml-2"></span></button></a></td>
      {% else %}
      <td></td>
      {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endfor %}

<nav aria-label="...">
  <ul class="pagination justify-content-center">
    {% if all_orders.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ all_orders.previous_page_number }}"><i class="fa fa-arrow-left" aria-hidden="true"></i>
</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <span class="page-link">Previous</span>
    </li>
    {% endif %}
    {% for page in pagelist %}
    {% if page == all_orders.number %}
    <li class="page-item active">
        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
        <span class="sr-only">(current)</span>
    </li>
    {% else %}
    <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
    {% endif %}
    {% endfor %}

    {% if all_orders.has_next %}
    <li class="page-item">
      <a href="?page={{ all_orders.next_page_number }}"><span class="page-link"><i class="fa fa-arrow-right" aria-hidden="true"></i></span></a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <span class="page-link"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
    </li>
    {% endif %}
  </ul>
</nav>

{% else %}
<h5>You have placed no orders</h5>
{% endif %}
{% endblock content %}