{% extends "producer.html" %}
{% load static %}
{% load bootstrap3 %}

{% block head %}
<link rel="stylesheet" type="text/css" href={% static "css/morris.css" %}>
<!-- Scripts -->
<script type="text/javascript" src={% static "js/raphael.min.js" %}></script>
<script type="text/javascript" src={% static "js/oldjquery.js" %}></script>
<script type="text/javascript">
    var oldjQuery = jQuery.noConflict(true);
</script>
<script type="text/javascript" src={% static "js/morris.js" %}></script>
<link rel="stylesheet" type="text/css" href={% static "css/datepicker.css" %}>
<script type="text/javascript" src={% static "js/moment.js" %}></script>
<script type="text/javascript" src={% static "js/datepicker.js" %}></script>
{% endblock head %}

{% block content %}
<div class="container-fluid" >
	{% if chart %}
	<div class="container-fluid">
		<p>Showing Graph for</p>
		<table class="table table-hover">
			<thead class="thead-inverse">
				<tr>
					<th>Crops</th>
					<th>Start Date</th>
					<th>End Date</th>
				</tr>
			</thead>
			<tbody>
				<tr class="table-active">
					<th>
						{{ data.crops }}
					</th>
					<th>
						{{ data.start_date }}
					</th>
					<th>
						{{ data.end_date }}
					</th>
				</tr>
			</tbody>
		</table>
	<div class="row">
		<div class="col-md-8">
			{{ chart.as_html }} 
		</div>
	</div>
	<div class="row justify-content-end">
		<div class="col-md-2">
			<a href="/producer/download/" target="_blank" class="btn btn-primary"> Download CSV</a>
		</div>
	</div>
	</div>

    <hr>
	{% endif %}

    <form action="" method="POST">
        {% csrf_token %} 
        {% if analyticsform.errors %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ analyticsform.errors }} 
            {{ analyticsform.non_field_errors }}
        </div>
        {% endif %}

        <div class="card">
            <div class="card-header" role="tab" id="headingOne" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <h4 class="mb-0">
                    Options
                </h4>
            </div>
            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="#{{ analyticsform.crops.auto_id }}"><h5><a href="#">Crop</a></h5></label>
                                <select class="form-control" id="{{ analyticsform.crops.auto_id }}" name="crops">
                                    {% for pk, choice in analyticsform.crops.field.choices %}
                                        <option value="{{ pk }}">{{ choice }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="#{{ analyticsform.time_frame.auto_id }}"><h5><a href="#">Time Frame</a></h5></label>
                                <select class="form-control" name="time_frame" id="{{ analyticsform.time_frame.auto_id }}">
                                    {% for pk, choice in analyticsform.time_frame.field.choices %}
                                        <option value="{{ pk }}">{{ choice }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- DATE -->
                    <div class="row">
                        <div class="col-md-3">
                            <p><h5><a href="#">{{ analyticsform.start_date.label }}</a></h5></p>
                            <div class='input-group date'>
                                <input type='text' class="form-control" id='{{ analyticsform.start_date.auto_id }}' name='start_date' />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <p><h5><a href="#">{{ analyticsform.end_date.label }}</a></h5></p>
                            <div class='input-group date'>
                                <input type='text' class="form-control" id='{{ analyticsform.end_date.auto_id }}' name='end_date' />
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-end">
                        <input type="submit" name="analyticsform" value="Analyze" class="btn btn-primary mr-4 mt-4">
                    </div>

                </div>
            </div>
        </div>
    </form>

</div>
{% endblock content %} 

{% block scripts %}
<script type="text/javascript">
$(function() {
    $('#{{ analyticsform.start_date.auto_id }}').datetimepicker({
        icons: {
            time: "fa fa-clock-o",
            date: "fa fa-calendar",
            up: "fa fa-arrow-up",
            down: "fa fa-arrow-down",
            previous: 'fa fa-chevron-left',
            next: 'fa fa-chevron-right',
            today: 'fa fa-calendar-o',
            clear: 'fa fa-trash',
            close: 'fa fa-times'
        },
        format: 'MM.YYYY'
    });
    $('#{{ analyticsform.end_date.auto_id }}').datetimepicker({
        icons: {
            time: "fa fa-clock-o",
            date: "fa fa-calendar-o",
            up: "fa fa-arrow-up",
            down: "fa fa-arrow-down",
            previous: 'fa fa-chevron-left',
            next: 'fa fa-chevron-right',
            today: 'fa fa-calendar-o',
            clear: 'fa fa-trash',
            close: 'fa fa-times'
        },
        format: 'MM.YYYY',
        useCurrent: false
    });
    $("#{{ analyticsform.start_date.auto_id }}").on("dp.change", function(e) {
        $('#{{ analyticsform.end_date.auto_id}}').data("DateTimePicker").minDate(e.date);
    });
    $("#{{ analyticsform.end_date.auto_id }}").on("dp.change", function(e) {
        $('#{{ analyticsform.start_date.auto_id }}').data("DateTimePicker").maxDate(e.date);
    });
});
</script>
    
<script>
    $(function() {
        var setting, current = 0;
        /* Change Datepicker */
        function loadDatePicker(setting) {
            $("#{{ analyticsform.start_date.auto_id }}").data("DateTimePicker").clear();
            $("#{{ analyticsform.end_date.auto_id }}").data("DateTimePicker").clear();
            $("#{{ analyticsform.start_date.auto_id }}").data("DateTimePicker").destroy();
            $("#{{ analyticsform.end_date.auto_id }}").data("DateTimePicker").destroy();        
        if(setting == 'month') {
            
            $('#{{ analyticsform.start_date.auto_id }}').datetimepicker({
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down",
                    previous: 'fa fa-chevron-left',
                    next: 'fa fa-chevron-right',
                    today: 'fa fa-calendar-o',
                    clear: 'fa fa-trash',
                    close: 'fa fa-times'
                },
                format: 'MM.YYYY'
            });
            $('#{{ analyticsform.end_date.auto_id }}').datetimepicker({
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar-o",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down",
                    previous: 'fa fa-chevron-left',
                    next: 'fa fa-chevron-right',
                    today: 'fa fa-calendar-o',
                    clear: 'fa fa-trash',
                    close: 'fa fa-times'
                },
                format: 'MM.YYYY',
                useCurrent: false
            });

            $("#{{ analyticsform.start_date.auto_id }}").on("dp.change", function(e) {
                $('#{{ analyticsform.end_date.auto_id}}').data("DateTimePicker").minDate(e.date);
            });
            $("#{{ analyticsform.end_date.auto_id }}").on("dp.change", function(e) {
                $('#{{ analyticsform.start_date.auto_id }}').data("DateTimePicker").maxDate(e.date);
            });

        }
        else if(setting == 'year') {

            $('#{{ analyticsform.start_date.auto_id }}').datetimepicker({
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down",
                    previous: 'fa fa-chevron-left',
                    next: 'fa fa-chevron-right',
                    today: 'fa fa-calendar-o',
                    clear: 'fa fa-trash',
                    close: 'fa fa-times'
                },
                format: 'YYYY'
            });
            $('#{{ analyticsform.end_date.auto_id }}').datetimepicker({
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar-o",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down",
                    previous: 'fa fa-chevron-left',
                    next: 'fa fa-chevron-right',
                    today: 'fa fa-calendar-o',
                    clear: 'fa fa-trash',
                    close: 'fa fa-times'
                },
                format: 'YYYY',
                useCurrent: false
            });

            $("#{{ analyticsform.start_date.auto_id }}").on("dp.change", function(e) {
                $('#{{ analyticsform.end_date.auto_id}}').data("DateTimePicker").minDate(e.date);
            });
            $("#{{ analyticsform.end_date.auto_id }}").on("dp.change", function(e) {
                $('#{{ analyticsform.start_date.auto_id }}').data("DateTimePicker").maxDate(e.date);
            });
             
            }           
        }
      /* Select box */
      $('select#{{ analyticsform.time_frame.auto_id }}').change(function() {
        current = $(this).val() == 'weekly' ? loadDatePicker(setting = 'month') : loadDatePicker(setting = 'year');
      });
      
    });
</script>

{% endblock scripts %}
