{% extends "index.html" %}
{% load static %}

{% block content%}
<div class="jumbotron jumbotron-fluid">
    <div class="container" >
      <h1 class="display-3">Hey There!</h1>
      <p class="lead">Welcome to GH Farm.</p>
      <hr class="my-4">
      <p>
      GH Farm is an automated farm produce Logging and Monitoring System. This website lets you get in touch with 
      smart farms near you and buy their fresh produce.
      </p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a>
      </p>
    </div>
</div>
{% endblock content%}