{% extends "base.html" %}
{% load static %}
{% block navlist %}
	<ul class="navbar-nav mr-auto justify-content-between">
		<li class="nav-item {% if page == "home" %}active{% endif %}">
            <a class="nav-link" href="/crops">Home <span class="sr-only">(current)</span></a>
        </li>
<!--         <li class="nav-item {% if page == "analytics" %}active{% endif %}">
            <a class="nav-link" href="/crops">Analytics</a>
        </li> -->
        <li class="nav-item {% if page == "orders" %}active{% endif %}">
            <a class="nav-link" href="/consumer/orders">Orders</a>
        </li>
        <li class="nav-item {% if page == "about" %}active{% endif %}">
            <a class="nav-link" href="/about">About Us</a>
        </li>
    </ul>
    <ul class="navbar-nav justify-content-end">
		{% if request.session.cart_count %}
		<li class="nav-item">
	        <a href="/cart"><button type="button" class="btn btn-outline-info mr-2"><span class="fa fa-shopping-cart mr-2"></span>Cart  <span class="badge badge-primary">{{request.session.cart_count}}</span></button></a>
		</li>
		{% endif %}
    	<li class="nav-item mt-2">
    		<a href="#" class="dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white; text-decoration: none">
    			{{ request.session.email }}
    		</a>
    		<div class="dropdown-menu dropdown-menu-right">
		    <a class="dropdown-item h-100" href="#"><span class="fa fa-user mr-2"></span>Profile</a>
		    <a class="dropdown-item h-100" href="/consumer/alerts"><span class="fa fa-bell mr-2"></span>Alerts 
		    <!-- <span class="badge badge-default badge-pill">0</span> --></a>
		    <!-- <a class="dropdown-item" href="#"><span class="fa fa-shopping-cart mr-2"></span>Orders</a> -->
		    <div class="dropdown-divider"></div>
		    <a class="dropdown-item" href="/logout"><span class="fa fa-sign-out mr-2"></span>Logout</a>
		  </div>
    	</li>
    </ul>
{% endblock navlist %}
