{% extends "producer.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href={% static "datatables/datatables.bootstrap.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "datatables/buttons.datatables.min.css" %}>
    <script type="text/javascript" src={% static "datatables/datatables.min.js" %}></script>
    <script type="text/javascript" src={% static "datatables/datatables.buttons.min.js" %}></script>
    <script type="text/javascript" src={% static "datatables/buttons.html5.min.js" %}></script>
    <script type="text/javascript" src={% static "datatables/buttons.print.min.js" %}></script> 
    <script type="text/javascript" src={% static "datatables/datatables.bootstrap.js" %}></script>
    <script type="text/javascript" src={% static "datatables/buttons.bootstrap.min.js" %}></script>             
  
{% endblock head %}

{% block scripts %}
  <script>
    $(document).ready(function(){
        $('.table').DataTable({
          dom: 'Bfrtip',
          lengthMenu: [
              [ 5, 10, 25, -1 ],
              [ '5 rows', '10 rows', '25 rows', 'Show all' ]
          ],
          buttons: ['pageLength','csv']
      } );
  });
  </script>
{% endblock scripts %}

{% block content %}
<h2>Orders:</h2>
<hr>
{% if all_orders %}
{% for order in all_orders %}
<h3>{{order}} orders : </h3>
<table class="table table-striped table-bordered" style="margin-bottom: 3%">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Buyer</th>
      <th>Weight</th>
      <th>Order Date</th>
      <th>Status</th>
      <th></th>
      <!-- <th>Date of Delivery</th> -->
      <!-- <th>Image</th> -->
    </tr>
  </thead>
  <tbody>
  {% for entry in all_orders|get_item:order %}
    <tr>
      <td>{{forloop.counter}}</td>
      <td>{{entry.user_id.first_name}}</td>
      <td>{{entry.weight}}g</td>
      <td>{{entry.time}}</td>
      <td>{{entry.status}}</td>
      {% if entry.status == "PENDING" %}
      <td><a href="{% url 'producer_order_reject' entry.cart_id entry.user_id.pk entry.crop_id.crop_id %}"><button class="btn btn-danger">Reject Order <span class="fa fa-trash ml-2"></span></button></a></td>
      {% else %}
      <td></td>
      {% endif %}
    </tr>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endfor %}
{% else %}
<h5>You have received no orders</h5>
{% endif %}
{% endblock content %}