{% extends "base.html" %}
{% load static %}
{% load bootstrap3 %}

{% block head %}
    <link rel="stylesheet" type="text/css" href={% static "datatables/datatables.bootstrap.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "datatables/buttons.datatables.min.css" %}>
    <script type="text/javascript" src={% static "datatables/datatables.min.js" %}></script>
    <script type="text/javascript" src={% static "datatables/datatables.buttons.min.js" %}></script>
    <script type="text/javascript" src={% static "datatables/buttons.html5.min.js" %}></script>
    <script type="text/javascript" src={% static "datatables/buttons.print.min.js" %}></script> 
    <script type="text/javascript" src={% static "datatables/datatables.bootstrap.js" %}></script>
    <script type="text/javascript" src={% static "datatables/buttons.bootstrap.min.js" %}></script>          
	
{% endblock head %}

{% block scripts %}
	<script>
		$(document).ready(function(){
    		$('#data-table').DataTable({
	        dom: 'Bfrtip',
	        lengthMenu: [
            	[ 10, 25, 50, -1 ],
            	[ '10 rows', '25 rows', '50 rows', 'Show all' ]
        	],
	        buttons: [
	   		'pageLength',
	   		{
			    extend: 'csv',
			    text: 'Download CSV',
			    exportOptions: {
			        columns: [1,2,3,4,5,6,7],
			        modifier: {
			            selected: true
			        }
			    }
			}
	        ]
	    });
	});
	</script>
{% endblock scripts %}

{% block navlist %}
	<ul class="navbar-nav mr-auto justify-content-between">
    <li class="nav-item">
        <a class="nav-link {% if page == "home" %}active{% endif %}" href="/producer/home" >Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if page == "inventory" %}active{% endif %}" href="/producer/inventory">Inventory</a>
    </li>
    <li class="nav-item dropdown {% if page == "analytics" %}active{% endif %}">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Analytics
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="/producer/analytics/crop">Crop Analytics</a>
        <a class="dropdown-item" href="/producer/analytics">Overall Analytics</a>
      </div>
    </li>
    <li class="nav-item dropdown {% if page == "orders" %}active{% endif %}">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Orders
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="/producer/pendingorders">Pending Orders</a>
        <a class="dropdown-item" href="/producer/orders">All Orders</a>
        <a class="dropdown-item" href="/producer/deliveredorders">Delivered Orders</a>
      </div>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if page == "delivery" %}active{% endif %}" href="/producer/delivery">Delivery</a>
    </li>
  </ul>
  <ul class="navbar-nav">
  	<li class="nav-item mt-2">
  		<a href="#" class="dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white; text-decoration: none">
  			{{ request.user.email }}
  		</a>
  		<div class="dropdown-menu dropdown-menu-right">
	    <a class="dropdown-item h-100" href="/producer/profile/"><span class="fa fa-user mr-2"></span>Profile</a>
	    <a class="dropdown-item h-100" href="/producer/alerts/"><span class="fa fa-bell mr-2"></span>Alerts</a>
	   	<div class="dropdown-divider"></div>
	    <a class="dropdown-item" href="/logout"><span class="fa fa-sign-out mr-2"></span>Logout</a>
	  </div>
  	</li>
  </ul>
{% endblock navlist %}


{% block content %}

<h1>Produce:</h1>
<table class="table table-striped table-bordered" id="data-table">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Crop</th>
      <th>Weight</th>
      <th>Machine</th>
      <th>Trough</th>
      <th>Date of Produce</th>
      <th>Date of Expiry</th>
      <th>Sold</th>
      <th>Wasted</th>
      <th>Image</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
  	{% for entry in produce %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ entry.crop_id }}</td>
      <td>{{ entry.weight }} g</td>
      <td>{{ entry.machine_id }}</td>
      <td>{{ entry.trough_id }}</td>
      <td>{{ entry.date_of_produce }}</td>
      <td>{{ entry.date_of_expiry }}</td>
      <td>{{ entry.sold }} g</td>
      <td>{{ entry.wasted }} g</td>
      <td><a href="#" data-toggle="modal" data-target="#{{forloop.counter}}"><img src="{% static entry.image %}"  width=28 height=28></a></td>
      <td><a href="/producer/edit_produce/{{ entry.pk }}/">Edit</a></td>
    </tr> 
    {% endfor %}
  </tbody>
</table>
<!-- Modal -->
{% for entry in produce %}
<div class="modal fade hidden" id="{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header hidden">
        <h5 class="modal-title hidden" id="exampleModalLabel">{{entry.crop_id}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       	<img src="{% static entry.image %}" style="height: inherit; width: 100%">
      </div>

    </div>
  </div>
</div>
{% endfor %}
{% endblock content %}





