{% extends "producer.html" %}
{% load static %}
{% load bootstrap3 %}


{% block content %}
<form method="post">
	{% csrf_token %}
	{% if form.old_password.errors %}
		{% for error in form.old_password.errors %}
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
			</button>
			<strong>{{ error }}</strong>
		</div>
		{% endfor %}
	{% else %}
		{% if form.errors %}
		{% for l,v in form.errors.items %}
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
			</button>
			<strong>{{ v }}</strong>
		{% endfor %}
		</div>
		{% endif %}
	{% endif %}
	{% bootstrap_form form %}
	<button type="submit">Save changes</button>
</form>
{% endblock content %}
