{% extends "home.html" %}
{% load static %}

{% block content%}

{% if request.user.login_count == 1 %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
	  <div class="container">
	    <h1 class="display-3">Hi {{ request.user.first_name|capfirst }}!</h1>
	    <hr class="my-4">
	    <p class="lead">Welcome to our website.</p>
	    {% if request.user.address_line1 %}
		{% else %}
	    <p class="lead">
	    Please update your <a href="/profile/" class="alert-link">profile</a> and include a valid address to purchase products.
	    </p>
	    {% endif %}
	    <p class="lead">
	    	You can logout using the dropdown on the top left. You can also see your profile and latest alerts over there.
	    </p>
	    <p class="lead">
	    	You can start buying crops from right here! Just add all the crops you need to your cart and proceed to buy. You will be asked about the quantity later on.
	    </p>
		<p class="lead">
	    Happy Shopping!
	    </p>
	  </div>
</div>
{% else %}
{% if request.user.address_line1 %}
{% else %}
<div class="alert alert-info alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button> 
  Before placing an order please update your <a href="/profile/" class="alert-link">profile</a> and include your address.
</div>
{% endif %}
{% endif %}

<div class="row justify-content-end">
	<div class="col-md-4 mr-auto">
		<h2>Our Crops:</h2>
	</div>
	{% if request.session.cart_count %}
	{% if request.user.address_line1 %}
	<div  class="col-md-2">
		<a href="/checkout"><button class="btn btn-warning">Buy Now <span class="fa fa-arrow-right ml-2"></span></button></a>
	</div>
	{% else %}
	<div  class="col-md-2">
		<a href="/checkout"><button class="btn btn-warning" disabled="true">Buy Now <span class="fa fa-arrow-right ml-2"></span></button></a>
	</div>
	{% endif %}
	{% endif %}
</div>
<hr>
  {% for error in errors %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>{{error}}</strong>
  </div>
  {% endfor %}
<div class="row">
{% for crop in added_crops %}
<div class="col-md-3 col-sm-6 col-xs-12">
		<div class="card text-center card-inverse card-outline-danger mb-2" style="background-color: #333;">
			<div class="card-header" style="border-color: #333">
		    	<span style="font-size: 110%"><strong>{{ crop.english_name }}  </strong></span>
		    	<span style="font-size: 120%"><strong><em>| {{crop.local_name}}</em></strong></span>
		  	</div>
			<a href="#" data-toggle="modal" data-target="#{{crop.crop_id}}">
					<img src="{% static crop.imagepath %}" class="img-thumbnail card-image-top">
			</a>
		  <div class="card-block">
		    	<p class="card-text">Available: {{ availability|get_item:crop.crop_id }} g</p>
		    	<div class="text-right">
		    		<a href="{% url 'remove_from_cart' crop.crop_id %}"><button class="btn btn-danger">Remove <span class="fa fa-times ml-2"></span></button></a>
		  		</div>
		  </div>
		</div>
	</div>


	<div class="modal fade hidden" id="{{crop.crop_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content" style="width:135%;">
	      <div class="modal-header hidden">
	        <h5 class="modal-title hidden" id="exampleModalLabel">Crop Details:</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	<ul class="list-group">
	      		<li class="list-group-item">English Name: {{crop.english_name}}</li>
	      		<li class="list-group-item">Local Name: {{crop.local_name}}</li>
	      		<li class="list-group-item">Scientific Name:{{crop.scientific_name}}</li>
	      		<li class="list-group-item">Shelf Life: {{crop.shelf_life}} hrs</li>
	      		<li class="list-group-item">Price: Rs.{{crop.price}}/kg</li>
	      	</ul>
	      </div>
	    </div>
	  </div>
	</div>
{%endfor%}

{% for crop in crops %}
<div class="col-md-3 col-sm-6 col-xs-12">
		<div class="card text-center card-inverse card-outline-danger mb-2" style="background-color: #333;">
			<div class="card-header" style="border-color: #333">
		    	<span style="font-size: 110%"><strong>{{ crop.english_name }}  </strong></span>
		    	<span style="font-size: 120%"><strong><em>| {{crop.local_name}}</em></strong></span>
		  	</div>
			<a href="#" data-toggle="modal" data-target="#{{crop.crop_id}}">
					<img src="{% static crop.imagepath %}" class="img-thumbnail card-image-top">
			</a>
		  <div class="card-block">
		    	<p class="card-text">Available: {{ availability|get_item:crop.crop_id }} g</p>
		    	<div class="text-right">
		    		<a href="{% url 'add_to_cart' crop.crop_id %}"><button class="btn btn-success">Add to Cart<span class="fa fa-cart-plus ml-1"></span></button></a>
		  		</div>
		  </div>
		</div>
	</div>


	<div class="modal fade hidden" id="{{crop.crop_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content" style="width:135%;">
	      <div class="modal-header hidden">
	        <h5 class="modal-title hidden" id="exampleModalLabel">Crop Details:</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	<ul class="list-group">
	      		<li class="list-group-item">English Name: {{crop.english_name}}</li>
	      		<li class="list-group-item">Local Name: {{crop.local_name}}</li>
	      		<li class="list-group-item">Scientific Name:{{crop.scientific_name}}</li>
	      		<li class="list-group-item">Shelf Life: {{crop.shelf_life}} hrs</li>
	      		<li class="list-group-item">Price: Rs.{{crop.price}}/kg</li>
	      	</ul>
	      </div>
	    </div>
	  </div>
	</div>
{%endfor%}

{% for crop in exceeded_crops %}
<div class="col-md-3 col-sm-6 col-xs-12">
		<div class="card text-center card-inverse card-outline-danger mb-2" style="background-color: #333;">
			<div class="card-header" style="border-color: #333">
		    	<span style="font-size: 110%"><strong>{{ crop.english_name }}  </strong></span>
		    	<span style="font-size: 120%"><strong><em>| {{crop.local_name}}</em></strong></span>
		  	</div>
			<a href="#" data-toggle="modal" data-target="#{{crop.crop_id}}">
					<img src="{% static crop.imagepath %}" class="img-thumbnail card-image-top">
			</a>
		  <div class="card-block">
		    <p class="card-text">Exceeded Daily Limit</p>
		  </div>
		</div>
	</div>


	<div class="modal fade hidden" id="{{crop.crop_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content" style="width:135%;">
	      <div class="modal-header hidden">
	        <h5 class="modal-title hidden" id="exampleModalLabel">Crop Details:</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	<ul class="list-group">
	      		<li class="list-group-item">English Name: {{crop.english_name}}</li>
	      		<li class="list-group-item">Local Name: {{crop.local_name}}</li>
	      		<li class="list-group-item">Scientific Name:{{crop.scientific_name}}</li>
	      		<li class="list-group-item">Shelf Life: {{crop.shelf_life}} hrs</li>
	      		<li class="list-group-item">Price: Rs.{{crop.price}}/kg</li>
	      	</ul>
	      </div>
	    </div>
	  </div>
	</div>
{% endfor %}

{% for crop in unavailable_crops %}
<div class="col-md-3 col-sm-6 col-xs-12">
		<div class="card text-center card-inverse card-outline-danger mb-2" style="background-color: #333;">
			<div class="card-header" style="border-color: #333">
		    	<span style="font-size: 110%"><strong>{{ crop.english_name }}  </strong></span>
		    	<span style="font-size: 120%"><strong><em>| {{crop.local_name}}</em></strong></span>
		  	</div>
			<a href="#" data-toggle="modal" data-target="#{{crop.crop_id}}">
					<img src="{% static crop.imagepath %}" class="img-thumbnail card-image-top">
			</a>
		  <div class="card-block">
		    <p class="card-text">Unavailable</p>
		  </div>
		</div>
	</div>


	<div class="modal fade hidden" id="{{crop.crop_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content" style="width:135%;">
	      <div class="modal-header hidden">
	        <h5 class="modal-title hidden" id="exampleModalLabel">Crop Details:</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	<ul class="list-group">
	      		<li class="list-group-item">English Name: {{crop.english_name}}</li>
	      		<li class="list-group-item">Local Name: {{crop.local_name}}</li>
	      		<li class="list-group-item">Scientific Name:{{crop.scientific_name}}</li>
	      		<li class="list-group-item">Shelf Life: {{crop.shelf_life}} hrs</li>
	      		<li class="list-group-item">Price: Rs.{{crop.price}}/kg</li>
	      	</ul>
	      </div>
	    </div>
	  </div>
	</div>
{% endfor %}
</div>
{% endblock content%}