{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumb">
	<div class="breadcrumb-item"><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></div>
</div>
{% endblock %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Thanks for Visiting!</h1>
    <p class="lead">Hope to see you again soon!</p>
    <a class="btn btn-primary" href="{% url 'admin:index' %}" role="button">Login Again?</a>
  </div>
</div>

{% endblock %}
